@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../pages/**/*.vue";
@source "../../layouts/**/*.vue";
@source "../../components/**/*.vue";

@theme {
  --default-font-family: 'Orbitron', sans-serif;

  --color-aris-50: #edfffd;
  --color-aris-100: #c0fffa;
  --color-aris-200: #81fff7;
  --color-aris-300: #3afff4;
  --color-aris-400: #00ffe8;
  --color-aris-500: #00ffe8;
  --color-aris-600: #00b7ac;
  --color-aris-700: #009189;
  --color-aris-800: #00726e;
  --color-aris-900: #045d5a;
  --color-aris-950: #00393a;

  --color-industrial-50: #fdf6ed;
  --color-industrial-100: #f8e5cd;
  --color-industrial-200: #f1c896;
  --color-industrial-300: #eaa75f;
  --color-industrial-400: #e48632;
  --color-industrial-500: #dd6a23;
  --color-industrial-600: #c34b1c;
  --color-industrial-700: #a3331a;
  --color-industrial-800: #85291b;
  --color-industrial-900: #6d231a;
  --color-industrial-950: #3e0f0a;

  --color-bg-400: #525252; /* Etwas heller, für mehr Kontrast bei Akzenten */
  --color-bg-500: #3c3c3c; /* Heller als bg-600 für Hover-Effekte */
  --color-bg-600: #2c2c2c; /* Dunkler, aber nicht komplett schwarz */
  --color-bg-700: #242424; /* Zwischen bg-600 und bg-800 für Fokus-Effekte */
  --color-bg-800: #181818; /* Sehr dunkel, fast schwarz */

  --color-neutral-50: #f9f9f9;
  --color-neutral-100: #f3f3f3;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d6d6d6;
  --color-neutral-400: #a6a6a6;
  --color-neutral-500: #7a7a7a;
  --color-neutral-600: #5a5a5a;
  --color-neutral-700: #404040;
  --color-neutral-800: #292929;
  --color-neutral-900: #1a1a1a;
  --color-neutral-950: #0f0f0f;

  --color-red-50: #ffe8e6;
  --color-red-100: #ffcac8;
  --color-red-200: #f89d9a;
  --color-red-300: #f26c6a;
  --color-red-400: #f03d3c;
  --color-red-500: #e60000;
  --color-red-600: #b90000;
  --color-red-700: #930000;
  --color-red-800: #750000;
  --color-red-900: #590000;
  --color-red-950: #320000;

  --color-green-50: #e8fbe8;
  --color-green-100: #c8f4c8;
  --color-green-200: #92e892;
  --color-green-300: #4dd74d;
  --color-green-400: #2bcf2b;
  --color-green-500: #0dc70d;
  --color-green-600: #0aa70a;
  --color-green-700: #088a08;
  --color-green-800: #066d06;
  --color-green-900: #045804;
  --color-green-950: #023302;

  --color-blue-50: #e9f6ff;
  --color-blue-100: #c9eaff;
  --color-blue-200: #8cd6ff;
  --color-blue-300: #4dbfff;
  --color-blue-400: #1aaaff;
  --color-blue-500: #0095ff;
  --color-blue-600: #0077cc;
  --color-blue-700: #005fa3;
  --color-blue-800: #004b80;
  --color-blue-900: #00385c;
  --color-blue-950: #001f33;

  --color-yellow-50: #fff9e6;
  --color-yellow-100: #ffefb8;
  --color-yellow-200: #ffe285;
  --color-yellow-300: #ffd352;
  --color-yellow-400: #ffc426;
  --color-yellow-500: #ffb200;
  --color-yellow-600: #cc8f00;
  --color-yellow-700: #a37100;
  --color-yellow-800: #805900;
  --color-yellow-900: #5c4100;
  --color-yellow-950: #332400;
}

@layer components {
  /* .animate-link {
    @apply active:scale-95 [transition:_opacity_.5s_ease-in-out,filter_.2s_ease-in-out,transform_.05s_ease-in-out,outline_.2s_ease-in-out];
  } */
  .animate-link {
    transition: opacity 0.5s ease-in-out, filter 0.2s ease-in-out, transform 0.05s ease-in-out, outline 0.2s ease-in-out;
  }

  .animate-link:active {
    transform: scale(0.95);
  }
}

@layer base {
  /* html {
    @apply bg-bg-800 text-tbase scroll-smooth max-w-full text-base scrollbar;
  } */
  *:focus-visible {
    @apply outline-aris-400;
  }
  ::selection {
    @apply bg-aris-400 text-bg-800;
  }
  /* body {
    @apply text-[#d1d5dd];
  } */
  .scrollbar::-webkit-scrollbar-track {
    @apply rounded bg-bg-600;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*border-radius: 10px; */
  }
  .scrollbar::-webkit-scrollbar {
    @apply w-[7px] h-[7px] bg-bg-600;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md bg-aris-400;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply rounded bg-bg-600;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    /*border-radius: 10px; */
  }
  .scrollbar-thin::-webkit-scrollbar {
    @apply w-[5px] h-[5px] bg-bg-600;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-md bg-aris-400;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  }
  .scrollbar-gray-thin::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    /*border-radius: 10px; */
  }
  .scrollbar-gray-thin::-webkit-scrollbar {
    @apply w-[5px] h-[5px];
  }
  .scrollbar-gray-thin::-webkit-scrollbar-thumb {
    @apply rounded-md bg-bg-600;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  }
  main {
    @apply min-h-screen flex;
  }
  main > div {
    @apply flex flex-1 flex-col justify-between;
  }

  h1 {
    @apply text-white block mb-8 text-xl sm:text-2xl md:text-3xl lg:text-4xl font-black tracking-widest;
  }
  h2 {
    @apply text-white block mb-6 mt-12 text-lg sm:text-xl md:text-2xl font-black;
  }
  h3 {
    @apply text-white block mb-3 text-lg md:text-xl font-extrabold;
  }
  h4 {
    @apply text-white block mb-2 text-lg font-extrabold;
  }
  h5,
  h6 {
    @apply text-white font-bold;
  }

  p {
    @apply p-2;
  }

  a {
    @apply text-industrial-400 cursor-pointer;
  }
  .a-text {
    @apply opacity-50 transition hover:opacity-100;
  }

  hr {
    @apply bg-industrial-400 h-[2px] w-full my-5 border-none;
  }

  .navbar-icon {
    @apply fill-transparent group-hover:stroke-[60] stroke-[50] group-hover:stroke-aris-400 group-hover:opacity-100 opacity-75 stroke-neutral-200;
  }

  /* button {
    @apply focus:outline-aris-400;
  } */

  /* .prose td {
    vertical-align: middle !important;
  }

  .prose {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  } */

  .hr-short {
    @apply w-16 mt-2;
  }
  ul {
    @apply list-disc pl-4;
  }
  ul ul {
    @apply list-[circle] pl-4;
  }

  ul ul ul {
    @apply list-[square] pl-4;
  }

  ol {
    @apply list-decimal pl-4;
  }
  ol ol {
    @apply list-[lower-latin] pl-4;
  }
  ol ol ol {
    @apply list-[lower-roman] pl-4;
  }

  ol li {
    @apply pb-2;
  }

  ul li {
    @apply marker:text-aris-400 pb-2;
  }

  img {
    @apply my-0;
  }

  blockquote {
    @apply p-4 my-4 border-s-4 border-bg-400 bg-bg-600 rounded-l;
  }
  blockquote > p {
    @apply italic leading-relaxed;
  }

  table {
    @apply w-full text-left table-auto min-w-max h-full overflow-scroll shadow-md bg-clip-border border border-bg-600;
  }
  th {
    @apply p-4 border-b border-bg-400 bg-bg-800;
  }
  th > p {
    @apply block font-sans text-sm antialiased font-normal leading-none text-white opacity-70;
  }
  tbody {
    @apply divide-y divide-bg-600 border border-bg-600;
  }
  tr {
    @apply odd:bg-bg-600;
  }
  td {
    @apply p-4;
  }
  td > p {
    @apply block font-sans text-sm antialiased font-normal leading-normal;
  }

  #sentry-feedback {
    --background: #111;
    --background-hover: #222;
    --foreground: #d1d5dd;
    --error: #dc2626;
    --success: #16a34a;
    --border: 1.5px solid rgba(68, 68, 68, 1);
    /* --inputOutlineFocus: #00ffe8; */
    --input-outline-focus: #00ffe8;
    --button-primary-background: #00ffe8;
    --button-primary-background: #00ffe8;
    --button-primary-color: #444;
    --button-primary-hover-background: #00ffe8;
    --button-primary-hover-color: #111;
    /* --accent-foreground: #111 !important; */
    --submit-background-hover: rgba(0, 255, 232, 0.5);
    --submit-foreground-hover: #eee;
    --submit-border: #444;
    --submit-foreground: #222;
  }

  .bg-image {
    @apply bg-bg-600;
  }

  .transition-default {
    @apply transition-all duration-300;
  }
  .transition {
    @apply transition-all duration-200 hover:duration-300;
  }
  .transition-peer {
    @apply transition-all duration-200 peer-hover:duration-300;
  }
  .transition-short {
    @apply transition-all duration-100 hover:duration-200;
  }
  .transition-short-group {
    @apply transition-all duration-100 group-hover:duration-200;
  }

  .sidebar-scrollbar {
    overflow-x: hidden;
  }

  .sidebar-scrollbar::-webkit-scrollbar-track {
    @apply rounded bg-bg-600;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*border-radius: 10px; */
  }

  .sidebar-scrollbar::-webkit-scrollbar {
    @apply w-[6px] bg-bg-600;
  }

  .sidebar-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded bg-aris-400;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .text-stroke {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  /* .tooltip {
    @apply absolute z-10 w-32 px-2 py-1 mt-3 -ml-16 text-center rounded opacity-0 group-hover:opacity-100 transition-group bg-bg-600 left-1/2 before:absolute before:bottom-full before:left-1/2 before:-ml-[8px] before:border-8 before:border-transparent before:border-b-bg-600;
  } */

  .comm-link-grid {
    @apply max-w-5xl mx-auto grid gap-6 md:grid-cols-2 lg:grid-cols-3;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  input[type='number']:hover,
  input[type='number']:focus {
    -moz-appearance: number-input;
  }

  .redacted {
    color: #ff6b6b;
    position: relative;
  }
  .redacted-small {
    color: #ff6b6b;
    position: relative;
  }

  .redacted:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    /* color: 78px; */
    background-color: #111;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
  }

  .redacted:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    /* color: 78px; */
    background-color: #111;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
  }
  .redacted-small:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    /* color: 78px; */
    background-color: transparent;
    overflow: hidden;
    clip: rect(0, 300px, 0, 0);
    animation: noise-before-small 3s infinite linear alternate-reverse;
  }

  .redacted-small:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 1px;
    width: 100%;
    /* color: 78px; */
    background-color: transparent;
    overflow: hidden;
    clip: rect(0, 300px, 0, 0);
    animation: noise-after-small 2s infinite linear alternate-reverse;
  }
  @keyframes noise-before {
    0% {
      clip: rect(61px, 9999px, 52px, 0);
    }
    5% {
      clip: rect(33px, 9999px, 144px, 0);
    }
    10% {
      clip: rect(121px, 9999px, 115px, 0);
    }
    15% {
      clip: rect(144px, 9999px, 162px, 0);
    }
    20% {
      clip: rect(62px, 9999px, 180px, 0);
    }
    25% {
      clip: rect(34px, 9999px, 42px, 0);
    }
    30% {
      clip: rect(147px, 9999px, 179px, 0);
    }
    35% {
      clip: rect(99px, 9999px, 63px, 0);
    }
    40% {
      clip: rect(188px, 9999px, 122px, 0);
    }
    45% {
      clip: rect(154px, 9999px, 14px, 0);
    }
    50% {
      clip: rect(63px, 9999px, 37px, 0);
    }
    55% {
      clip: rect(161px, 9999px, 147px, 0);
    }
    60% {
      clip: rect(109px, 9999px, 175px, 0);
    }
    65% {
      clip: rect(157px, 9999px, 88px, 0);
    }
    70% {
      clip: rect(173px, 9999px, 131px, 0);
    }
    75% {
      clip: rect(62px, 9999px, 70px, 0);
    }
    80% {
      clip: rect(24px, 9999px, 153px, 0);
    }
    85% {
      clip: rect(138px, 9999px, 40px, 0);
    }
    90% {
      clip: rect(79px, 9999px, 136px, 0);
    }
    95% {
      clip: rect(25px, 9999px, 34px, 0);
    }
    100% {
      clip: rect(173px, 9999px, 166px, 0);
    }
  }
  @keyframes noise-before-small {
    0% {
      clip: rect(30.5px, 9999px, 26px, 0);
    }
    5% {
      clip: rect(16.5px, 9999px, 72px, 0);
    }
    10% {
      clip: rect(60.5px, 9999px, 57.5px, 0);
    }
    15% {
      clip: rect(72px, 9999px, 81px, 0);
    }
    20% {
      clip: rect(31px, 9999px, 90px, 0);
    }
    25% {
      clip: rect(17px, 9999px, 21px, 0);
    }
    30% {
      clip: rect(73.5px, 9999px, 89.5px, 0);
    }
    35% {
      clip: rect(45.5px, 9999px, 31.5px, 0);
    }
    40% {
      clip: rect(94px, 9999px, 61px, 0);
    }
    45% {
      clip: rect(77px, 9999px, 7px, 0);
    }
    50% {
      clip: rect(31.5px, 9999px, 18.5px, 0);
    }
    55% {
      clip: rect(80.5px, 9999px, 73.5px, 0);
    }
    60% {
      clip: rect(54.5px, 9999px, 87.5px, 0);
    }
    65% {
      clip: rect(78.5px, 9999px, 44px, 0);
    }
    70% {
      clip: rect(86.5px, 9999px, 65.5px, 0);
    }
    75% {
      clip: rect(31px, 9999px, 35px, 0);
    }
    80% {
      clip: rect(12px, 9999px, 76.5px, 0);
    }
    85% {
      clip: rect(69px, 9999px, 20px, 0);
    }
    90% {
      clip: rect(39.5px, 9999px, 68px, 0);
    }
    95% {
      clip: rect(12.5px, 9999px, 17px, 0);
    }
    100% {
      clip: rect(86.5px, 9999px, 83px, 0);
    }
  }
  @keyframes noise-after {
    0% {
      clip: rect(26px, 9999px, 33px, 0);
    }
    5% {
      clip: rect(140px, 9999px, 198px, 0);
    }
    10% {
      clip: rect(184px, 9999px, 89px, 0);
    }
    15% {
      clip: rect(121px, 9999px, 6px, 0);
    }
    20% {
      clip: rect(181px, 9999px, 99px, 0);
    }
    25% {
      clip: rect(154px, 9999px, 133px, 0);
    }
    30% {
      clip: rect(134px, 9999px, 169px, 0);
    }
    35% {
      clip: rect(26px, 9999px, 187px, 0);
    }
    40% {
      clip: rect(147px, 9999px, 137px, 0);
    }
    45% {
      clip: rect(31px, 9999px, 52px, 0);
    }
    50% {
      clip: rect(191px, 9999px, 109px, 0);
    }
    55% {
      clip: rect(74px, 9999px, 54px, 0);
    }
    60% {
      clip: rect(145px, 9999px, 75px, 0);
    }
    65% {
      clip: rect(153px, 9999px, 198px, 0);
    }
    70% {
      clip: rect(99px, 9999px, 136px, 0);
    }
    75% {
      clip: rect(118px, 9999px, 192px, 0);
    }
    80% {
      clip: rect(1px, 9999px, 83px, 0);
    }
    85% {
      clip: rect(145px, 9999px, 98px, 0);
    }
    90% {
      clip: rect(121px, 9999px, 154px, 0);
    }
    95% {
      clip: rect(156px, 9999px, 44px, 0);
    }
    100% {
      clip: rect(67px, 9999px, 122px, 0);
    }
  }
  @keyframes noise-after-small {
    0% {
      clip: rect(13px, 9999px, 16.5px, 0);
    }
    5% {
      clip: rect(70px, 9999px, 99px, 0);
    }
    10% {
      clip: rect(92px, 9999px, 44.5px, 0);
    }
    15% {
      clip: rect(60.5px, 9999px, 3px, 0);
    }
    20% {
      clip: rect(90.5px, 9999px, 45.5px, 0);
    }
    25% {
      clip: rect(77px, 9999px, 66.5px, 0);
    }
    30% {
      clip: rect(67px, 9999px, 84.5px, 0);
    }
    35% {
      clip: rect(13px, 9999px, 93.5px, 0);
    }
    40% {
      clip: rect(73.5px, 9999px, 68.5px, 0);
    }
    45% {
      clip: rect(15.5px, 9999px, 26px, 0);
    }
    50% {
      clip: rect(95.5px, 9999px, 54.5px, 0);
    }
    55% {
      clip: rect(37px, 9999px, 27px, 0);
    }
    60% {
      clip: rect(72.5px, 9999px, 37.5px, 0);
    }
    65% {
      clip: rect(76.5px, 9999px, 99px, 0);
    }
    70% {
      clip: rect(49.5px, 9999px, 68px, 0);
    }
    75% {
      clip: rect(59px, 9999px, 96px, 0);
    }
    80% {
      clip: rect(0.5px, 9999px, 41.5px, 0);
    }
    85% {
      clip: rect(72.5px, 9999px, 49px, 0);
    }
    90% {
      clip: rect(60.5px, 9999px, 77px, 0);
    }
    95% {
      clip: rect(78px, 9999px, 22px, 0);
    }
    100% {
      clip: rect(33.5px, 9999px, 61px, 0);
    }
  }
}

:root {
  --ui-radius: var(--radius-sm);
}

.dark {
  --ui-primary: var(--color-aris-400);
  --ui-secondary: var(--color-industrial-400);
  --ui-success: var(--ui-color-green-400);
  --ui-info: var(--ui-color-blue-400);
  --ui-warning: var(--ui-color-yellow-400);
  --ui-error: var(--ui-color-error-500);

  /* Least prominent text */
  --ui-text-dimmed: var(--ui-color-neutral-500);
  /* Slightly muted text */
  --ui-text-muted: var(--ui-color-neutral-400);
  /* Moderately prominent text */
  --ui-text-toned: var(--ui-color-neutral-300);
  /* Default text color */
  --ui-text: var(--ui-color-neutral-200);
  /* Most prominent text */
  --ui-text-highlighted: var(--color-white);

  /* Main background color */
  --ui-bg: var(--color-bg-800);
  /* Subtle background */
  --ui-bg-muted: var(--color-bg-600);
  /* Slightly elevated background */
  --ui-bg-elevated: var(--color-bg-600);
  /* More prominent background */
  --ui-bg-accented: var(--color-bg-400);
  /* Inverted background color */
  --ui-bg-inverted: var(--color-white);

  /* Default border color */
  --ui-border: var(--ui-bg-elevated);
  /* Subtle border */
  --ui-border-muted: var(--ui-bg-accented);
  /* More prominent border */
  --ui-border-accented: var(--ui-bg-accented);
  /* Inverted border color */
  --ui-border-inverted: var(--color-white);
}

.bg-cover {
  background-size: cover;
}
/* 
@layer components {
  .animate-link {
    @apply ;
  }
} */
