@import 'tailwindcss';
@import '@nuxt/ui';

@plugin "@tailwindcss/typography";

@source "../../../layers";

@theme static {
  --font-sans: 'Orbitron', sans-serif;

  --breakpoint-3xl: 1920px;

  --color-aris-50: #edfffd;
  --color-aris-100: #c0fffa;
  --color-aris-200: #81fff7;
  --color-aris-300: #3afff4;
  --color-aris-400: #00ffe8;
  --color-aris-500: #00e2cf;
  --color-aris-600: #00b7ac;
  --color-aris-700: #009189;
  --color-aris-800: #00726e;
  --color-aris-900: #045d5a;
  --color-aris-950: #00393a;

  --color-industrial-50: #fdf6ed;
  --color-industrial-100: #f8e5cd;
  --color-industrial-200: #f1c896;
  --color-industrial-300: #eaa75f;
  --color-industrial-400: #e48632;
  --color-industrial-500: #dd6a23;
  --color-industrial-600: #c34b1c;
  --color-industrial-700: #a3331a;
  --color-industrial-800: #85291b;
  --color-industrial-900: #6d231a;
  --color-industrial-950: #3e0f0a;

  --color-woodsmoke-50: hsl(240, 20%, 97%);
  --color-woodsmoke-100: hsl(240, 25%, 94%);
  --color-woodsmoke-200: hsl(236, 24%, 86%);
  --color-woodsmoke-300: hsl(236, 23%, 74%);
  --color-woodsmoke-400: hsl(235, 23%, 60%);
  --color-woodsmoke-500: hsl(235, 22%, 48%);
  --color-woodsmoke-600: hsl(236, 24%, 39%);
  --color-woodsmoke-700: hsl(237, 24%, 32%);
  --color-woodsmoke-800: hsl(236, 23%, 27%);
  --color-woodsmoke-900: hsl(238, 20%, 24%);
  --color-woodsmoke-950: hsl(240, 20%, 5%);

  --color-bunker-50: hsl(240, 7%, 97%);
  --color-bunker-100: hsl(240, 12%, 94%);
  --color-bunker-200: hsl(231, 10%, 86%);
  --color-bunker-300: hsl(235, 10%, 74%);
  --color-bunker-400: hsl(234, 10%, 60%);
  --color-bunker-500: hsl(235, 9%, 48%);
  --color-bunker-600: hsl(237, 10%, 39%);
  --color-bunker-700: hsl(240, 11%, 32%);
  --color-bunker-800: hsl(236, 10%, 27%);
  --color-bunker-900: hsl(240, 8%, 24%);
  --color-bunker-950: hsl(240, 9%, 9%);

  --shadow-primary-xs: 0 0 10px hsla(175, 100%, 50%, 0.1);
  --shadow-primary-sm: 0 0 15px hsla(175, 100%, 50%, 0.15);
  --shadow-primary-md: 0 0 15px hsla(175, 100%, 50%, 0.3);
  --shadow-destructive: 0 0 15px hsla(0, 100%, 50%, 0.3);
}

/* darker bg: color-woodsmoke-950 */
/* card bg: --color-bunker-950 */

/* LIGHT MODE */
/* :root { */
/* Least prominent text */
/* --ui-text-dimmed: var(--ui-color-neutral-400); */
/* Slightly muted text */
/* --ui-text-muted: var(--ui-color-neutral-500); */
/* Moderately prominent text */
/* --ui-text-toned: var(--ui-color-neutral-600); */
/* Default text color */
/* --ui-text: var(--ui-color-neutral-700); */
/* Most prominent text */
/* --ui-text-highlighted: var(--ui-color-neutral-900); */

/* Main background color */
/* --ui-bg: var(--color-white); */
/* Subtle background */
/* --ui-bg-muted: var(--ui-color-neutral-50); */
/* Slightly elevated background */
/* --ui-bg-elevated: var(--ui-color-neutral-100); */
/* More prominent background */
/* --ui-bg-accented: var(--ui-color-neutral-200); */
/* Inverted background color */
/* --ui-bg-inverted: var(--ui-color-neutral-900); */

/* Default border color */
/* --ui-border: var(--ui-color-neutral-200); */
/* Subtle border */
/* --ui-border-muted: var(--ui-color-neutral-200); */
/* More prominent border */
/* --ui-border-accented: var(--ui-color-neutral-300); */
/* Inverted border color */
/* --ui-border-inverted: var(--ui-color-neutral-900); */
/* } */

:root {
  --ui-radius: 0.25rem;

  /* Least prominent text */
  --ui-text-dimmed: var(--ui-color-neutral-500);
  /* Slightly muted text */
  --ui-text-muted: var(--ui-color-neutral-400);
  /* Moderately prominent text */
  --ui-text-toned: var(--ui-color-neutral-300);
  /* Default text color */
  --ui-text: var(--ui-color-neutral-200);
  /* Most prominent text */
  --ui-text-highlighted: var(--color-white);

  /* Main background color */
  --ui-bg: hsl(240, 15%, 8%);
  /* Subtle background */
  --ui-bg-muted: var(--color-woodsmoke-950);
  /* Slightly elevated background */
  --ui-bg-elevated: var(--color-bunker-950);
  /* More prominent background */
  --ui-bg-accented: var(--ui-color-neutral-700);
  /* Inverted background color */
  --ui-bg-inverted: var(--color-white);

  /* Default border color */
  --ui-border: var(--ui-color-neutral-800);
  /* Subtle border */
  --ui-border-muted: var(--ui-color-neutral-700);
  /* More prominent border */
  --ui-border-accented: var(--ui-color-neutral-700);
  /* Inverted border color */
  --ui-border-inverted: var(--color-white);

  /* Charts Tooltips */
  --vis-tooltip-padding: 0 !important;
  --vis-tooltip-border-color: none !important;
}

.animate {
  @apply active:scale-95 [transition:_opacity_.5s_ease-in-out,filter_.2s_ease-in-out,transform_.05s_ease-in-out,outline_.2s_ease-in-out];
}

button {
  @apply cursor-pointer disabled:cursor-not-allowed;
}
a {
  @apply no-underline;
}

/* img {
  @apply not-prose;
} */

.ams-card-title {
  @apply [&>h2]:my-0 [&>h2]:leading-none [&>h2]:tracking-tight [&>h2]:transition-colors [&>h2]:duration-300 [&>h2]:text-(--ui-primary);
}

.bigChart svg {
  width: 400px !important;
}

.smallChart svg {
  width: 200px !important;
}
